
<body>
<br><br>
<div style="text-align: center;">
  <h1>Formation</h1>
  <br><br><br>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row"  routerLink="../../admin/formation" [nzSpan]="6"><div class="inner-box"><mat-card style="background-color: #f8f4fc;" ><mat-icon>note_add</mat-icon><b>Gestion Formation </b></mat-card></div></div>
    <div nz-col class="gutter-row" routerLink="../../admin/formateur"[nzSpan]="6"><div class="inner-box"><mat-card style="background-color: #f8f4fc;" ><mat-icon>person_add</mat-icon> <b> Gestion Formateur</b></mat-card></div></div>

    <div nz-col class="gutter-row" routerLink="../../admin/contenuF" [nzSpan]="6"><div class="inner-box"><mat-card style="background-color: #f8f4fc;" ><mat-icon>event_note</mat-icon><b> Gestion  Séances</b></mat-card></div></div>

    <div nz-col class="gutter-row"  routerLink="../../admin/etude" [nzSpan]="6"><div class="inner-box"><mat-card style="background-color: #f8f4fc;" > <mat-icon>add_circle</mat-icon><b>Gestion Etude </b></mat-card></div></div>

  </div>


</div>

<br>






</body>

