
<nz-table nzSize="small" #basicTable [nzPageSize]="8" [nzData]="chercher">
  <thead>
  <tr>
    <th><b>Nom de la formation </b></th>
    <th><b>Date de debut</b></th>
    <th></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td > {{ data.nomFormation }}</td>

    <td>{{ data.dateDeb }}</td>




    <td>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'topCenter'"><i class="pi pi-folder-open"></i></button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button nz-button nzType="primary"   (click)="showModal3(data.idFormation)" > Ajouter contenu

            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary"   (click)="showModal4(data.idFormation)" > Afficher contenu

            </button>
          </li>

        </ul>
      </nz-dropdown-menu>


    </td>


    <td>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu1" [nzPlacement]="'topCenter'"><i class="pi pi-desktop"></i></button>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <button nz-button nzType="primary"   (click)="showModal5(data.idFormation   )" > Afficher les séances

            </button>
          </li>
          <li nz-menu-item>


        </ul>
      </nz-dropdown-menu>


    </td>












  </tr>
  </tbody>
</nz-table>













<nz-modal [(nzVisible)]="isVisible4" nzTitle="Contenu de la formation" (nzOnCancel)="handleCancel4()" (nzOnOk)="handleOk4()">

  <nz-table nzSize="middle" #basicTable1 [nzPageSize]="4" [nzData]="contenuF">
    <thead>
    <tr>
      <th><b>Nom de fichier </b></th>
      <th><b>Download </b></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable1.data">
      <td>{{ data.name }}</td>

      <td><a href="http://localhost:8080/ContenuF/file/{{data.idFormation}}"><i class="pi pi-download"></i></a></td>







    </tr>
    </tbody>
  </nz-table>


</nz-modal>




<nz-modal [(nzVisible)]="isVisible5" nzTitle="Lien de chaine pour la formation" (nzOnCancel)="handleCancel5()" (nzOnOk)="handleOk5()">
  <div style="text-align: center;">



  </div>


  <nz-table nzSize="middle" #basicTable3 [nzPageSize]="8" [nzData]="contenuF">
    <thead>
    <tr>
      <th><b>Nom de formation </b></th>
      <th><b>Date de formation </b></th>
      <th>Lien de seance</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable3.data">
      <td>{{ data.nomFormation }}</td>
      <td>{{ data.date}}</td>
      <td><a href="{{ data.url}}" target="_blank">Accéder</a></td>







    </tr>
    </tbody>
  </nz-table>

</nz-modal>





