
<p>
  <mat-toolbar style="background-color: red;">
    <mat-toolbar-row>


      <button style="color: white;" mat-icon-button class="example-icon" (click)="open()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>

      </button>

      <span style="color: white;">Cap Academy</span>
      <span class="example-spacer"></span>


      <button style="color: white;" mat-icon-button class="example-icon" routerLink="../" aria-label="Example icon-button with menu icon">
        <mat-icon>lock_open</mat-icon>

      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</p>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left"  (nzOnClose)="close()">

  <div style="text-align: center;"><h2 nzDanger routerLink="../client/chercher"><u> Cap Academie</u></h2></div>

  <ul nz-list  nzSize="large">


    <li nz-list-item  nzFlex>
      <button nz-button nzType="text" nzDanger routerLink="../client/formation"> 	<mat-icon>note_add</mat-icon><b>Mes formation </b></button>
    </li>


    <li nz-list-item  nzFlex>
      <button nz-button nzType="text" routerLink="../client/demande"   nzDanger> 	<mat-icon>sd_card</mat-icon> <b>Mes demandes</b> </button>
    </li>

    <li nz-list-item  nzFlex>
      <button nz-button nzType="text" nzDanger routerLink="../client/chercher"> 	<mat-icon>add_shopping_cart</mat-icon><b>chercher </b></button>
    </li>


    <li nz-list-item  nzFlex>
      <button nz-button nzType="text" routerLink="../client/paiement"   nzDanger> 	<mat-icon>euro_symbol</mat-icon> <b>Paiement</b> </button>
    </li>





  </ul>




</nz-drawer>
